@charset "UTF-8";
body {
  background-color: #f2f2f2;
}
main .inner{
  background-image: none;
  padding-bottom: 90px;
}
main .form {
  margin-top: 25px;
  position: relative;
}
main .form h2 {
  position: absolute;
  left: 50%;
  margin: 0 -210px;
  color: #f8f8f8;
  font-size: 1.5rem;
  text-align: center;
  width: 420px;
  height: 60px;
  box-sizing: border-box;
}
main .form h2:nth-child(1) {
  padding-top: 15px;
  margin-top: -30px;
}
main .form dl {
  background-color: #ececec;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  margin-top: 70px;
  padding: 145px 170px 70px 75px;
}
main .form dl dt {
  color: #7a7a7a;
  font-size: 1.125rem;
  font-weight: bold;
  float: left;
  clear: left;
  width: 340px;
  height: 60px;
  text-align: right;
}
main .form dl dt .required {
  margin-left: 15px;
  margin-right: 70px;
  background-color: #fa8072;
  font-size: 0.75rem;
  color: #fff;
  font-weight: normal;
  border-radius: 15px;
  padding: 5px 10px;
  box-sizing: border-box;
}
main .form dl dt:nth-of-type(9),
main .form dl dt:nth-of-type(10) {
  margin-left: -130px;
  margin-right: 130px;
}
main .form dl dd {
  height: 60px;
  padding-left: 340px;
}
main .form .alert,
main .form .pwalert,
main .form .petAlert {
  font-size: 0.75rem;
  color: #ff4631;
  display: block;
  padding-top: 3px;
  margin-right: 20px;
}
main .form input::placeholder {
  color: rgba(250, 128, 114, 0.8);
}
main .form dl dd input[type="text"],
main .form dl dd input[type="email"],
main .form dl dd input[type="tel"],
main .form dl dd select,
main .form dl dd input[type="password"] {
  border: 1px solid #fa8072;
  border-radius: 5px;
  height: 30px;
}
/*入力欄長め*/
main .form dl dd input[type="text"]:not(dd:nth-of-type(11) input[type="text"],dd:nth-of-type(3) input[type="text"]),
main .form dl dd input[type="email"],
main .form dl dd input[type="password"] {
  width: 100%;
}
/*ラジオボタン*/
main .form dl #radioSection label {
  float: left;
  margin-right: 20px;
}
main .form dl dd label input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
  margin-right: 3px;
}
main .form dl dd label .radio_text {
  position: relative;
  display: flex;
  align-items: center;
}
main .form dl dd label .radio_text::before {
  content: "";
  display: block;
  border-radius: 50%;
  border: 1px solid #fa8072;
  width: 16px;
  height: 16px;
  margin-right: 2px;
}
#radioSection input:checked + 
.radio_text::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  background-color: #fa8072;
  width: 12px;
  height: 12px;
}
/*チェックボタン装飾*/
main .form dl #checkSection label {
  float: left;
  margin-right: 15px;
}
main .form dl dd label input[type="checkbox"] {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  position: absolute;
}
main .form dl dd label .check_text {
  position: relative;
  display: flex;
  align-items: center;
}
main .form dl dd label:nth-of-type(3) .check_text {
  float: left;
  margin-right: 5px;
}
main .form dl dd label .check_text::before {
  content: "";
  display: block;
  border-radius: 3%;
  border: 1px solid #fa8072;
  width: 15px;
  height: 15px;
  margin-right: 2px;
}
#checkSection input:checked + .check_text::after {
  content: "";
  position: absolute;
  left: 1px;
  display: block;
  background-image: url(../images/form/form_nikukyu_.png);
  background-repeat: no-repeat;
  width: 15px;
  height: 15px;
}
/*規約css*/
main .form .accept {
  background-color: #ececec;
  box-shadow: 0 6px 6px rgba(0, 0, 0, 0.35);
  border-radius: 20px;
  margin-top: 70px;
  padding: 60px 35px 65px;
  margin-bottom: 80px;
}
main .form .accept h2 {
  padding-top: 15px;
  margin-top: -90px;
}
main .form .accept p {
  color: #7a7a7a;
  font-size: 0.75rem;
}
main .form .accept p:nth-of-type(1) {
  border: 1px solid #fa8072;
  border-radius: 5px;
  height: 250px;
  overflow: auto;
  box-sizing: border-box;
  padding: 18px 45px;
  margin-bottom: 60px;
}
main .form .accept p:nth-of-type(2) {
  color: #000;
  text-align: center;
  border: none;
  overflow: unset;
}
main .form .accept p input[type="checkbox"] {
  margin-right: 25px;
}
/*送信ボタン*/
main .form form p:last-of-type {
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ff4631;
  width: 285px;
  height: 70px;
  text-align: center;
}
main .form form p:last-of-type:hover {
  opacity: 0.7;
}
main .form input[type="submit"] {
  display: block;
  width: 100%;
  height: 100%;
  font-size: 1.875rem;
  color: #fff;
  border: none;
  background-color:rgba(0, 0, 0, 0);
  padding: 5px 0;
  box-sizing: border-box;
}
main .form input[type="submit"]:hover {
  cursor: pointer;
}
/*---------レスポンシブ タブレット-----------*/

@media screen and (min-width:641px) and (max-width:980px) {
  main .form {
    width: 95vw;
    margin-right: auto;
    margin-left: auto;
  }
  main .form dl {
    padding-right: 65px;
  }
  #checkSection {
    margin-bottom: 30px;
  }
}
/*-------------レスポンシブ sp-----------------*/

@media screen and (max-width:640px) {

  main .form {
    width: 90vw;
    margin-right: auto;
    margin-left: auto;
  }
  main .form h2 {
    width: 200px;
    font-size: 1rem;
    box-sizing: border-box;
    margin: 0 -100px;
  }
  main .form h2:nth-child(1) {
    padding-top: 20px;
  }
  main .form dl {
    margin-right: auto;
    margin-left: auto;
    height: auto;
    padding: 50px 20px;
    box-sizing: border-box;
  }
  main .form dl dt {
    width: auto;
    height: 20px;
    line-height: 20px;
    font-size: 1rem;
    float: none;
    margin-bottom: 10px;
    text-align: left;
  }
  main .form dl dt:nth-of-type(9),
  main .form dl dt:nth-of-type(10) {
    margin: 0;
  }
  main .form dl dt:nth-of-type(11) {
    font-size: 15px;
  }
  main .form dl dd {
    height: 20px;
    padding-left: 0;
    margin-bottom: 60px;
  }
  main .form dl dd:nth-of-type(11) {
    margin-bottom: 80px;
  }
  main .form dl dd input {
    width: auto;
  }
  main .form dl dt .required {
    margin-right: 0;
  }
  main .form .accept p:nth-of-type(1) {
    padding: 18px 25px;
  }
  main .form form p:last-of-type {
    width: auto;
    height: 30px;
    font-size: 1rem;
  }
  main .form form>p:last-of-type {
    width: 30vw;
  }
  main .form input[type="submit"] {
    font-size: 0.875rem;
  }
  /*ラジオボタン調整*/
  #radioSection input:checked + 
  .radio_text::after {
  content: "";
  display: block;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  background-color: #fa8072;
  width: 12px;
  height: 12px;
  }
  /*チェックボタン調整*/
  main .form dl #checkSection label:nth-of-type(1),
  main .form dl #checkSection label:nth-of-type(2) {
    margin-bottom: 10px;
  }
  
}