@charset "UTF-8";
/* ===リセット=== */
body, p, h1, h2, h3, h4, h5, h6, ul, ol, li, dl, dt, dd {
  margin: 0;
  padding: 0;
  list-style: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/* ===テンプレ=== */
img {
  vertical-align: bottom;
}

.clear-fix {
  content: "";
  clear: both;
  display: block;
}

.ds-f {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.inner {
  width: 1100px;
  margin-left: auto;
  margin-right: auto;
}

/* ===共通=== */
body {
  color: #363232;
  font-family: "游明朝",sans-serif;
}

/* ===紙吹雪用=== */
html, body {
  height: 100%;
  /*高さを100%にして描画エリアをとる*/
}

#particles-js {
  position: fixed;
  /*描画固定*/
  z-index: -1;
  /*描画を一番下に*/
  width: 100%;
  height: 100%;
  background-color: #363232;
  pointer-events: none;
}

#wrapper {
  position: relative;
  /*描画を#particles-jsよりも上にするためposition:relative;を指定*/
  width: 100%;
  height: 100%;
}

header {
  background-color: #f3f3f3;
  width: 100%;
  height: 90px;
}

header .inner {
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.5);
  z-index: 2;
}

header .g_nav .ds-f li {
  height: 90px;
  line-height: 90px;
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}

header .g_nav .ds-f li ul {
  display: none;
  position: absolute;
  top: 90px;
  z-index: 2;
  background-color: #f3f3f3;
  -webkit-box-shadow: 0px 8px 16px 0px #363232;
          box-shadow: 0px 8px 16px 0px #363232;
}

header .g_nav .ds-f li a {
  display: block;
  text-decoration: none;
  color: #363232;
  padding: 0 10px;
  text-align: center;
}

header .g_nav .ds-f li a:hover {
  background-color: #ccc;
}

.main_visual {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  padding-top: 90px;
  height: 500px;
  background-image: url(../images/main_visual.jpg);
  background-size: cover;
  overflow: hidden;
}

main h2 {
  text-align: center;
  font-size: 3rem;
  padding: 100px 0;
}

main section:not(.works) .inner {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

main section.profile {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

main section.profile .profile_box {
  margin-bottom: 50px;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

main section.profile .profile_box .profile_img {
  width: 200px;
  height: 200px;
  border: 2px solid #363232;
}

main section.profile .profile_box .profile_img img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
}

main section.profile .profile_box ul {
  width: 350px;
  margin: 0;
}

main section.profile .profile_box ul li {
  list-style-type: disc;
  font-size: 1.125rem;
  padding-bottom: 10px;
}

main section.profile .github {
  text-align: center;
  margin-bottom: 50px;
  font-size: 1.125rem;
}

main section.profile .mywish h3 {
  text-align: center;
  font-size: 1.5rem;
  margin-bottom: 20px;
}

main section.profile .mywish span {
  color: #e83f6f;
  font-weight: bold;
}

main section.myskills {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

main section.myskills h3 {
  padding-top: 100px;
  margin-bottom: 50px;
  color: #e83f6f;
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}

main section.myskills h4 {
  text-decoration: underline;
  text-align: center;
  margin-bottom: 30px;
  font-size: 1.125rem;
}

main section.myskills .skillbox {
  width: 250px;
}

main section.myskills .skillbox p {
  font-size: 0.875rem;
}

main section.myskills .skillbox p:last-child {
  padding-left: 20px;
}

main section.myskills .skillbox p img {
  display: block;
  margin: 0 auto 30px;
}

main section.myskills .school .schoolskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

main section.myskills .others .othersskills {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  row-gap: 30px;
}

main section.myskills .others .othersskills .gh_logo {
  height: 199px;
  /*logoの画像の高さが199pxだったため*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section.works {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

main section.works .inner p {
  text-align: center;
}

main section.works .inner > p:nth-child(3) {
  margin-bottom: 100px;
}

main section.works .inner .ds-f {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 50px;
}

main section.works .inner .ds-f .worksbox .img {
  -webkit-box-shadow: 3px 3px 10px #000;
          box-shadow: 3px 3px 10px #000;
  -webkit-transition: .3s;
  transition: .3s;
  margin-bottom: 10px;
  width: 300px;
  height: 175px;
}

main section.works .inner .ds-f .worksbox .img a img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  -o-object-position: top;
     object-position: top;
}

main section.works .inner .ds-f .worksbox .img:hover {
  -webkit-transform: translate(3px, 3px);
          transform: translate(3px, 3px);
  -webkit-box-shadow: none;
          box-shadow: none;
  cursor: pointer;
}

main section.works .inner .ds-f .worksbox p:not(first-child) {
  text-align: center;
}

main section.works .inner .ds-f .worksbox p a {
  text-decoration: none;
  color: #e83f6f;
  font-weight: bold;
}

main section.works .inner .ds-f .worksbox p a:hover {
  text-decoration: underline;
}

main section .empty {
  width: 100%;
}

main section.contact {
  background-color: #f3f3f3;
  padding-bottom: 100px;
}

main section.contact .inner > p {
  margin-bottom: 50px;
}

main section.contact .inner form label {
  float: left;
  width: 200px;
}

main section.contact .inner form .name, main section.contact .inner form .email, main section.contact .inner form .coment {
  margin: 0 auto 50px;
  width: 60%;
}

main section.contact .inner form .submit {
  width: 50%;
  margin: 0 auto;
  text-align: center;
}

main section.contact .inner form .submit input {
  -webkit-box-shadow: 1px 1px 3px #000;
          box-shadow: 1px 1px 3px #000;
  padding: 10px 50px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  background-color: #f3f3f3;
  border: 1px solid #000;
}

main section.contact .inner form .submit input:hover {
  -webkit-transform: translate(1px, 1px);
          transform: translate(1px, 1px);
  -webkit-box-shadow: none;
          box-shadow: none;
}

main section.contact .inner form input[name="myname"], main section.contact .inner form input[type="email"] {
  display: block;
  width: 100%;
  padding-top: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #f3f3f3;
  resize: none;
  padding: 10px;
}

main section.contact .inner form textarea {
  display: block;
  width: 100%;
  padding-top: 10px;
  border: none;
  border-bottom: 1px solid #000;
  background-color: #f3f3f3;
  resize: none;
  padding: 10px;
}

main section.contact .inner form .alert {
  color: #e83f6f;
  font-weight: bold;
}

footer {
  color: #f3f3f3;
  background-color: transparent;
  padding: 200px 0 100px;
  position: relative;
}

footer .totop {
  position: absolute;
  top: 5%;
  right: calc((100% - 1280px)/2);
  /*表示される画面の横幅が大きくなっても常に画面の右下に表示される*/
}

footer .totop a {
  display: block;
  width: 100%;
}

footer .totop a:hover {
  opacity: 0.5;
  -webkit-animation: UpAnime 1.5s infinite;
          animation: UpAnime 1.5s infinite;
}

footer .totop a img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
}

@-webkit-keyframes UpAnime {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

@keyframes UpAnime {
  0%, 100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  50% {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
}

footer .eachTextAnime {
  font-size: 3.125rem;
  margin-bottom: 100px;
}

footer .eachTextAnime span {
  opacity: 0;
}

footer .eachTextAnime.appeartext span {
  -webkit-animation: text_anime_on 1s ease-out forwards;
          animation: text_anime_on 1s ease-out forwards;
}

@-webkit-keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes text_anime_on {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

footer p {
  text-align: center;
}

@media screen and (max-width: 480px) {
  img {
    width: 100%;
  }
  .inner {
    width: auto;
  }
  body {
    font-size: 0.875rem;
  }
  header {
    height: auto;
  }
  header .inner {
    width: auto;
    position: static;
    display: block;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
  }
  header .inner h1 {
    text-align: center;
    background-color: #f3f3f3;
  }
  header .inner h1 a img {
    width: 30%;
  }
  header .inner .g_nav li {
    position: relative;
  }
  header .inner .g_nav li.has-child ul {
    position: relative;
    left: 0;
    top: 0;
    width: 100%;
    display: none;
    /*JSのslidetoggleで表示させるため非表示に*/
    -webkit-transition: none;
    transition: none;
    /*JSで制御するためCSSのアニメーションを切る*/
  }
  header .inner .g_nav li.has-child::before {
    content: "";
    position: absolute;
    left: 10px;
    top: 44%;
    width: 6px;
    height: 6px;
    border-top: 2px solid #363232;
    border-right: 2px solid #363232;
    -webkit-transform: rotate(135deg);
            transform: rotate(135deg);
  }
  header .inner .g_nav li.has-child.active::before {
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
  .main_visual {
    padding-top: 0;
    height: 30%;
    background-position: center;
  }
  main h2 {
    font-size: 1.75rem;
    padding: 50px 0;
  }
  main section:not(.works) .inner {
    width: auto;
  }
  main section.profile {
    padding-bottom: 100px;
  }
  main section.profile .profile_box {
    display: block;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  main section.profile .profile_box .profile_img {
    width: 50%;
    height: auto;
    margin: 0 auto 50px;
  }
  main section.profile .profile_box ul {
    width: auto;
  }
  main section.profile .profile_box ul li {
    margin-left: 30px;
    font-size: 1rem;
  }
  main section.profile .github {
    font-size: 0.875rem;
  }
  main section.profile .mywish {
    width: 100%;
    margin: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  main section.profile .mywish h3 {
    font-size: 1.125rem;
  }
  main section.myskills .inner .skillbox {
    margin: 0 auto;
  }
  main section.myskills .inner .skillbox p img {
    width: 50%;
  }
  main section.myskills .inner > p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  main section.myskills .inner .school .schoolskills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.myskills .inner .others .othersskills {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section.myskills h3 {
    font-size: 1.125rem;
  }
  main section.contact .inner {
    width: 100%;
    margin: 0;
  }
  main section.contact .inner > p {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
  main section.contact .inner form label {
    float: none;
    width: 100%;
  }
  main .works .inner > p {
    text-align: left;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    padding: 0 10px;
  }
develops
  main .works .inner > p:nth-of-type(1) {
    text-align: left;
  }
  main .works .inner > p:nth-of-type(3) {
    padding-top: 50px;
    text-align: center;
  }
  main .works .inner .ds-f {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
  main .works .inner .ds-f .worksbox .img {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }
  main .works .inner .ds-f .worksbox .img a {
    display: block;
    width: 100%;
    margin: 0;
  }
  main .works .inner .ds-f .empty {
    display: none;
  }
  footer {
    padding-top: 100px;
  }
  footer .totop {
    position: fixed;
    top: auto;
    right: 0;
    bottom: 0;
    -webkit-transform: translate(100px);
            transform: translate(100px);
  }
  footer .totop.UpMove {
    -webkit-animation: UpAnime 0.5s forwards;
            animation: UpAnime 0.5s forwards;
  }
  @-webkit-keyframes UpAnime {
    from {
      opacity: 0;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  @keyframes UpAnime {
    from {
      opacity: 0;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
  }
  footer .totop.DownMove {
    -webkit-animation: DownAnime 0.5s forwards;
            animation: DownAnime 0.5s forwards;
  }
  @-webkit-keyframes DownAnime {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  @keyframes DownAnime {
    from {
      opacity: 1;
      -webkit-transform: translateY(0);
              transform: translateY(0);
    }
    to {
      opacity: 1;
      -webkit-transform: translateY(100px);
              transform: translateY(100px);
    }
  }
  footer .totop a img {
    width: 50%;
  }
  footer .eachTextAnime {
    font-size: 1.75rem;
  }
}
/*# sourceMappingURL=style.css.map */